%div
  %b
    Project Title
  = @project.project_title

%div
  %b
    Project Created By
  = @project.created_by

%div
  %b
    Project Created At
  = @project.created_at

%div
  %b
    Project Details
  = @project.project_details

%div
  %b
    Project Starts At
  = @project.starts_at

%div
  %b
    Project Ends At
  = @project.ends_at

%div
  %b
    Project Status
  = @project.status

%div
  %b
    Invite People
  = @project.invite_people

= link_to "All Projects", projects_path